/* FAVORITES */

.favorites-page {
  padding: 30px;
}

.favorites-title {
  font-size: 38px;

  margin-bottom: 30px;

  color: white;

  font-weight: bold;
}

.favorites-empty {
  min-height: 70vh;

  display: flex;

  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;
}

.empty-box {
  background: #1b1b1b;

  padding: 40px;

  border-radius: 18px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.empty-box h2 {
  font-size: 28px;

  margin-bottom: 15px;

  color: white;
}

.empty-box p {
  color: #aaa;

  font-size: 18px;
}


/* ========================= */
/* LOGO IMAGE */
/* ========================= */

.logo {
  display: flex;

  align-items: center;

  gap: 10px;

  text-decoration: none;

  color: #e50914;

  font-size: 28px;

  font-weight: bold;
}

.logo img {
  width: 42px !important;

  height: 42px !important;

  object-fit: cover;

  border-radius: 8px;
}